# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.whl
*.manifest
*.spec
.Python
*.sqlite3
*.db
*.pot
*.mo
*.log
*.coverage
.coverage.*
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.tox/
.cache/
nosetests.xml
coverage.xml
*.coveragerc
*.hg/
*.svn/
*.git/
*.bzr/
.DS_Store

# Virtual Environments
.venv/
.env
env.bak/
venv.bak/

# React Native
node_modules/
*.log
.expo/
*.expo-shared/
*.xcworkspace/
*.xcodeproj/
build/
android/app/build/
android/.cxx/
android/.gradle/
android/local.properties
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/shell-app.bundle
android/app/src/main/java/com/your-app/generated/BasePackageList.java
ios/Pods/
ios/build/
ios/Podfile.lock
ios/Podfile
ios/your-app.xcworkspace
ios/your-app.xcodeproj
ios/your-appTests/
ios/your-app.xcshareddata/
ios/your-app.xcscheme/

# Local development config (machine-specific)
**/development.local.ts

